"*":
  "advanced-open-file":
    createFileInstantly: true
    fuzzyMatch: true
  "atom-beautify":
    c:
      configPath: "/usr/local/Cellar/clang-format"
      default_beautifier: "clang-format"
  "atom-terminal":
    app: "iTerm.app"
    surpressDirectoryArgument: false
  "autocomplete-plus":
    confirmCompletion: "enter"
  autosave:
    enabled: true
  "bracket-matcher": {}
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "wrap-guide"
      "swackets"
    ]
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "clipboard-plus"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
  editor:
    fontFamily: "Inconsolata-g, Hiragino Kaku Gothic ProN"
    lineHeight: 1.3
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "9092f66f-8fef-43a1-b354-a46f842cd744"
  "expand-region": {}
  "git-plus":
    commits:
      verboseCommits: true
    general: {}
  latex:
    buildOnSave: true
    customEngine: "latexmk"
    engine: "uplatex"
    opener: "pdf-view"
    texPath: "/Library/TeX/texbin/TeX"
  "linter-clang": {}
  "linter-shellcheck": {}
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
  "pdf-view":
    fitToWidthOnOpen: true
  "persistent-undo":
    undoFolder: "undo-history"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  swackets:
    colorParens: true
    colorSquareBrackets: true
    colors: [
      "#7fffd4"
      "#FAAC58"
      "#72c572"
      "#f78181"
      "#F2F5A9"
      "#66cdaa"
      "#d26ca5"
      "#6DB3D4"
      "#ffa0a0"
    ]
  "sync-settings":
    _lastBackupHash: "3e582001582ea9d20c45663636a6be9ae3de7f59"
    gistId: "c5f85be225ed1a3c01689137224d5f86"
    personalAccessToken: "a329917659d3af7573578640748771b82ae7760f"
  welcome:
    showOnStartup: false
