# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/customizing-keybindings
# http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# http://flight-manual.atom.io/hacking-atom/sections/debugging/check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson


# ------------------------------------------------------------------------------
'atom-workspace atom-text-editor:not([mini])':

# -------------- 基本キーバインド ------------------
  "tab": "editor:indent"
  'enter': 'editor:newline'
# ------------------------------------------------

# コメントアウト
  'cmd-;': 'editor:toggle-line-comments'

# カーソル行の上に空行を挿入
  'ctrl-cmd-o': 'editor:newline-above'

# 無効化
  'cmd-j': 'unset!'

# インデント整形
  'ctrl-t': 'editor:auto-indent'




# ------------------------------------------------------------------------------
'atom-workspace':

# カーソル位置のundo, redo
  'cmd-j': 'last-cursor-position:previous'
  'cmd-k': 'last-cursor-position:next'

# ファイルのディレクトリをiTermで開く
  'ctrl-cmd-l': 'atom-terminal:open'

# ------------------------------------------------------------------------------
'atom-text-editor':

# -------------- 基本キーバインド ------------------
    "alt-left": "editor:move-to-beginning-of-word",
    "alt-right": "editor:move-to-end-of-word",
    "alt-shift-left": "editor:select-to-beginning-of-word",
    "alt-shift-right": "editor:select-to-end-of-word",
    "cmd-backspace": "editor:delete-to-beginning-of-line",
    "cmd-shift-backspace": "editor:delete-to-beginning-of-line",
    "cmd-delete": "editor:delete-to-end-of-line",
    "ctrl-shift-a": "editor:select-to-first-character-of-line",
    "ctrl-shift-e": "editor:select-to-end-of-line",
    "cmd-left": "editor:move-to-first-character-of-line",
    "cmd-right": "editor:move-to-end-of-screen-line",
    "cmd-shift-left": "editor:select-to-first-character-of-line",
    "cmd-shift-right": "editor:select-to-end-of-line",
    "alt-backspace": "editor:delete-to-beginning-of-word",
    "alt-delete": "editor:delete-to-end-of-word",
    "ctrl-a": "editor:move-to-first-character-of-line",
    "ctrl-e": "editor:move-to-end-of-line",
    "ctrl-k": "editor:cut-to-end-of-line",
    "ctrl-shift-w": "editor:select-word",
    "cmd-ctrl-left": "editor:move-selection-left",
    "cmd-ctrl-right": "editor:move-selection-right",
    "cmd-shift-V": "editor:paste-without-reformatting",
    "alt-up": "editor:select-larger-syntax-node",
    "alt-down": "editor:select-smaller-syntax-node",
    "alt-f": "editor:move-to-end-of-word",
    "alt-ctrl-f": "editor:move-to-next-subword-boundary",
    "alt-shift-f": "editor:select-to-end-of-word",
    "alt-ctrl-shift-f": "editor:select-to-next-subword-boundary",
    "alt-b": "editor:move-to-beginning-of-word",
    "alt-ctrl-b": "editor:move-to-previous-subword-boundary",
    "alt-shift-b": "editor:select-to-beginning-of-word",
    "alt-ctrl-shift-b": "editor:select-to-previous-subword-boundary",
    "alt-h": "editor:delete-to-beginning-of-word",
    "alt-ctrl-h": "editor:delete-to-beginning-of-subword",
    "alt-d": "editor:delete-to-end-of-word",
    "alt-ctrl-d": "editor:delete-to-end-of-subword",
    "cmd-a": "core:select-all",
    "cmd-alt-p": "editor:log-cursor-scope",
    "cmd-k cmd-u": "editor:upper-case",
    "cmd-k cmd-l": "editor:lower-case",
    "cmd-l": "editor:select-line",
    "ctrl-t": "editor:transpose",
    "ctrl-alt-left": "editor:move-to-previous-subword-boundary",
    "ctrl-alt-right": "editor:move-to-next-subword-boundary",
    "ctrl-alt-shift-left": "editor:select-to-previous-subword-boundary",
    "ctrl-alt-shift-right": "editor:select-to-next-subword-boundary",
    "ctrl-alt-backspace": "editor:delete-to-beginning-of-subword",
    "ctrl-alt-delete": "editor:delete-to-end-of-subword"
# ------------------------------------------------

# 括弧内の選択範囲拡大or縮小
  'ctrl-\'': 'expand-region:expand'
  'ctrl-"': 'expand-region:shrink'


# 段落選択
  'ctrl-s': 'expand-region:select-inside-paragraph'

# ブックマーク
  'ctrl-u ctrl-v': 'bookmarks:view-all'
  'ctrl-u ctrl-f': 'bookmarks:jump-to-next-bookmark'
  'ctrl-u ctrl-d': 'bookmarks:jump-to-previous-bookmark'



# ------------------------------------------------------------------------------
'body':

# -------------- 基本キーバインド ------------------
  "cmd-q": "application:quit",
"cmd-h": "application:hide",
"cmd-alt-h": "application:hide-other-applications",
"cmd-m": "application:minimize",
"alt-cmd-ctrl-m": "application:zoom",
"ctrl-p": "core:move-up",
"ctrl-n": "core:move-down",
"ctrl-b": "core:move-left",
"ctrl-f": "core:move-right",
"ctrl-shift-p": "core:select-up",
"ctrl-shift-n": "core:select-down",
"ctrl-shift-f": "core:select-right",
"ctrl-shift-b": "core:select-left",
"ctrl-h": "core:backspace",
"ctrl-d": "core:delete",
"enter": "core:confirm",
"escape": "core:cancel",
"up": "core:move-up",
"down": "core:move-down",
"ctrl-up": "core:move-up",
"ctrl-down": "core:move-down",
"left": "core:move-left",
"right": "core:move-right",
"ctrl-alt-cmd-l": "window:reload",
"alt-cmd-i": "window:toggle-dev-tools",
"cmd-alt-ctrl-p": "window:run-package-specs",
"ctrl-shift-left": "pane:move-item-left",
"ctrl-shift-right": "pane:move-item-right",
"cmd-,": "application:show-settings",
"cmd-shift-n": "application:new-window",
"cmd-shift-w": "window:close",
"cmd-o": "application:open",
"cmd-shift-o": "application:add-project-folder",
"cmd-shift-t": "pane:reopen-closed-item",
"cmd-n": "application:new-file",
"cmd-s": "core:save",
"cmd-shift-s": "core:save-as",
"cmd-alt-s": "window:save-all",
"cmd-w": "core:close",
"cmd-ctrl-f": "window:toggle-full-screen",
"cmd-z": "core:undo",
"cmd-shift-z": "core:redo",
"cmd-y": "core:redo",
"cmd-x": "core:cut",
"cmd-c": "core:copy",
"cmd-v": "core:paste",
"shift-up": "core:select-up",
"shift-down": "core:select-down",
"shift-left": "core:select-left",
"shift-right": "core:select-right",
"shift-pageup": "core:select-page-up",
"shift-pagedown": "core:select-page-down",
"delete": "core:delete",
"shift-delete": "core:delete",
"pageup": "core:page-up",
"pagedown": "core:page-down",
"backspace": "core:backspace",
"shift-backspace": "core:backspace",
"cmd-up": "core:move-to-top",
"cmd-down": "core:move-to-bottom",
"cmd-shift-up": "core:select-to-top",
"cmd-shift-down": "core:select-to-bottom",
"cmd-{": "pane:show-previous-item",
"cmd-}": "pane:show-next-item",
"cmd-alt-left": "pane:show-previous-item",
"cmd-alt-right": "pane:show-next-item",
"ctrl-pageup": "pane:show-previous-item",
"ctrl-pagedown": "pane:show-next-item",
"ctrl-tab": "pane:show-next-recently-used-item",
"ctrl-tab ^ctrl": "pane:move-active-item-to-top-of-stack",
"ctrl-shift-tab": "pane:show-previous-recently-used-item",
"ctrl-shift-tab ^ctrl": "pane:move-active-item-to-top-of-stack",
"cmd-=": "window:increase-font-size",
"cmd-+": "window:increase-font-size",
"cmd--": "window:decrease-font-size",
"cmd-_": "window:decrease-font-size",
"cmd-0": "window:reset-font-size",
"cmd-k up": "pane:split-up-and-copy-active-item",
"cmd-k down": "pane:split-down-and-copy-active-item",
"cmd-k left": "pane:split-left-and-copy-active-item",
"cmd-k right": "pane:split-right-and-copy-active-item",
"cmd-k cmd-w": "pane:close",
"cmd-k alt-cmd-w": "pane:close-other-items",
"cmd-k cmd-p": "window:focus-previous-pane",
"cmd-k cmd-n": "window:focus-next-pane",
"cmd-k cmd-up": "window:focus-pane-above",
"cmd-k cmd-down": "window:focus-pane-below",
"cmd-k cmd-left": "window:focus-pane-on-left",
"cmd-k cmd-right": "window:focus-pane-on-right",
"cmd-1": "pane:show-item-1",
"cmd-2": "pane:show-item-2",
"cmd-3": "pane:show-item-3",
"cmd-4": "pane:show-item-4",
"cmd-5": "pane:show-item-5",
"cmd-6": "pane:show-item-6",
"cmd-7": "pane:show-item-7",
"cmd-8": "pane:show-item-8",
"cmd-9": "pane:show-item-9"
# ------------------------------------------------


# 貼り付け、切り取り
  'ctrl-y': 'core:paste'
  'ctrl-w': 'core:cut'

# タブ移動
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'

# undo, redo
  'ctrl-j': 'core:undo'
  'ctrl-cmd-j': 'core:redo'
  'ctrl-shift-j': 'core:redo'

# 無効
  'cmd-up':   'unset!'
  'cmd-down': 'unset!'

# ペイン分割
  'cmd-3': 'pane:split-right-and-copy-active-item'
  'cmd-4': 'pane:split-down-and-copy-active-item'

# ペインのフォーカス移動
  'ctrl-g': 'window:focus-next-pane'


# ------------------------------------------------------------------------------
'.platform-darwin':

# コマンド
  'cmd-.': 'key-binding-resolver:toggle'


# ------------------------------------------------------------------------------
'.platform-darwin atom-workspace':

# ファイルオープン
  'alt-cmd-o': 'unset!'
  'cmd-t': 'advanced-open-file:toggle'


# ------------------------------------------------------------------------------
'.platform-darwin atom-text-editor':

# スペルチェック
  'cmd-:': 'abort!'
  'ctrl-u ctrl-s': 'spell-check:correct-misspelling'

# ブックマーク
  'ctrl-u ctrl-t': 'bookmarks:toggle-bookmark'
  'ctrl-u ctrl-q': 'bookmarks:clear-bookmarks'

# ------------------------------------------------------------------------------
'.platform-darwin .corrections atom-text-editor':

# スペルチェック
  'cmd-:': 'unset!'
  'ctrl-u ctrl-s': 'core:cancel'


# ------------------------------------------------------------------------------
'.platform-darwin atom-text-editor:not([mini])':

# クリップボードの呼び出し
  'ctrl-cmd-k': 'clipboard-plus:toggle'

# マルチカーソル
  'cmd-up':   'multi-cursor:expandUp'
  'cmd-down': 'multi-cursor:expandDown'




# ------------------------------------------------------------------------------
'.platform-darwin, .platform-darwin .command-palette atom-text-editor':

# コマンドパレット
  'ctrl-cmd-p': 'command-palette:toggle'


# ------------------------------------------------------------------------------
# ------------------------------------------------------------------------------
# ------------------------------------------------------------------------------
